<a href="https://colab.research.google.com/github/hssitja/PhD-Dissertation/blob/Chapter-2/Chapter2_descriptive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# setup and installation
!pip install vaex
!pip install stargazer
!pip install missingno

In [ ]:
from google.colab import auth
from google.cloud import bigquery
from google.colab import data_table

from google.colab import drive, auth
drive.mount('/content/drive')

import os
path = '/content/drive/My Drive/2 Essay Bayesian dinamic model for vaccine hesitancy/Data'
os.chdir(path)

project_id = 'phd-dissertation-343113' # Project ID inserted based on the query results selected to explore
location = 'US' # Location inserted based on the query results selected to explore
client = bigquery.Client(project=project_id, location=location)
data_table.enable_dataframe_formatter()
auth.authenticate_user()

import pandas as pd
import vaex
import numpy as np
import matplotlib.pyplot as plt

import missingno as ms
import seaborn as sns

%matplotlib inline

from stargazer.stargazer import Stargazer

SEED = np.random.seed(42)

with open('/content/drive/MyDrive/2 Essay Bayesian dinamic model for vaccine hesitancy/Python/Google developer/config') as f:
    api_key = f.readline()
    f.close

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('df_descriptive.csv')
df.head(5)

Warning: Total number of columns (36) exceeds max_columns (20). Falling back to pandas display.

,diff_dose1_dose2,diff_dose2_dose3,n_doses,dose1_ASTRAZENECA,dose1_JANSSEN,dose1_PFIZER,dose1_SINOVAC,dose2_ASTRAZENECA,dose2_JANSSEN,dose2_PFIZER,...,scaled_mean_literacy,scaled_mean_families,scaled_votos_PSL-PT_2018,id_municipio_endereco_paciente,bairros,idade_paciente,mean_income_avg,mean_literacy,mean_families,votos_PSL-PT_2018
0,157,0,3,0,1,0,0,0,1,0,...,-0.169016,0.735782,-1.682533,4314902,['RESTINGA'],37,1573.440,96.000000,3.440000,-0.096122
1,189,0,3,0,1,0,0,0,1,0,...,0.567233,0.031636,1.454153,3304557,"['MARECHAL HERMES', 'DEODORO', 'VILA MILITAR']",41,2222.860,97.866667,3.153333,0.246763
2,168,0,3,0,1,0,0,0,1,0,...,0.895916,-1.118742,-0.909994,4314902,"['VILA IPIRANGA', 'JARDIM EUROPA', 'VILA JARDIM']",47,3546.250,98.700000,2.685000,-0.011672
3,162,0,3,0,1,0,0,0,1,0,...,0.817032,0.170828,-0.166758,4106902,"['UBERABA', 'JARDIM DAS AMÃ‰RICAS']",41,4628.515,98.500000,3.210000,0.069574
4,172,0,3,0,1,0,0,0,1,0,...,0.619822,0.023449,-0.216864,4106902,['PILARZINHO'],48,3506.250,98.000000,3.150000,0.064097

In [ ]:
# Create the 'dose1' column based on the dose1_* columns
df['dose1'] = ''
df.loc[df['dose1_ASTRAZENECA'] == 1, 'dose1'] = 'ASTRAZENECA'
df.loc[df['dose1_JANSSEN'] == 1, 'dose1'] = 'JANSSEN'
df.loc[df['dose1_PFIZER'] == 1, 'dose1'] = 'PFIZER'
df.loc[df['dose1_SINOVAC'] == 1, 'dose1'] = 'SINOVAC'

# Create the 'dose3' column based on the dose3_* columns
df['dose3'] = ''
df.loc[df['dose3_ASTRAZENECA'] == 1, 'dose3'] = 'ASTRAZENECA'
df.loc[df['dose3_JANSSEN'] == 1, 'dose3'] = 'JANSSEN'
df.loc[df['dose3_PFIZER'] == 1, 'dose3'] = 'PFIZER'
df.loc[df['dose3_SINOVAC'] == 1, 'dose3'] = 'SINOVAC'

In [ ]:
# Set up the BigQuery client
client = bigquery.Client(project=project_id)

# Define the query
query = """
SELECT 
  m.id_municipio,
  m.id_municipio_tse,
  m.nome, 
  m.sigla_uf, 
  m.nome_regiao, 
  p.populacao
FROM 
  `basedosdados.br_bd_diretorios_brasil.municipio` AS m
JOIN 
  `basedosdados.br_ibge_populacao.municipio` AS p
ON 
  m.id_municipio = p.id_municipio
JOIN (
  SELECT 
    id_municipio, 
    MAX(ano) AS max_ano 
  FROM 
    `basedosdados.br_ibge_populacao.municipio` 
  GROUP BY 
    id_municipio
) AS max_ano
ON 
  p.id_municipio = max_ano.id_municipio 
  AND p.ano = max_ano.max_ano
"""

# Execute the query and store the results in a dataframe
df2 = client.query(query).to_dataframe()
df2.head(5)

,id_municipio,id_municipio_tse,nome,sigla_uf,nome_regiao,populacao
0,1100015,310,Alta Floresta D'Oeste,RO,Norte,22516
1,1100023,78,Ariquemes,RO,Norte,111148
2,1100031,450,Cabixi,RO,Norte,5067
3,1100049,94,Cacoal,RO,Norte,86416
4,1100056,272,Cerejeiras,RO,Norte,16088

In [ ]:
df2['id_municipio'] = df2['id_municipio'].astype('int64')
df = pd.merge(df, df2, left_on='id_municipio_endereco_paciente', right_on='id_municipio')

In [ ]:
# Replace 0 values with NaN in the 'diff_dose1_dose2' column
df['diff_dose1_dose2'] = df['diff_dose1_dose2'].replace(0, np.nan)

# Replace 0 values with NaN in the 'diff_dose2_dose3' column
df['diff_dose2_dose3'] = df['diff_dose2_dose3'].replace(0, np.nan)

In [ ]:
df = vaex.from_pandas(df)
df.head(5)

  #    diff_dose1_dose2    diff_dose2_dose3    n_doses    dose1_ASTRAZENECA    dose1_JANSSEN    dose1_PFIZER    dose1_SINOVAC    dose2_ASTRAZENECA    dose2_JANSSEN    dose2_PFIZER    dose2_SINOVAC    dose3_ASTRAZENECA    dose3_JANSSEN    dose3_PFIZER    dose3_SINOVAC    age_65_80    age_80_plus    comorbidities    security_forces    health_professionals    sexo_paciente_F    raca_cor_white    raca_cor_black    raca_cor_brown    scaled_idade_paciente    scaled_mean_income_avg    scaled_mean_literacy    scaled_mean_families    scaled_votos_PSL-PT_2018    id_municipio_endereco_paciente  bairros                                                idade_paciente    mean_income_avg    mean_literacy    mean_families    votos_PSL-PT_2018  dose1        dose3      id_municipio    id_municipio_tse  nome          sigla_uf    nome_regiao      populacao
  0                 157                 nan          3                    0                1               0                0                    0                1               0                0                    0                0               0                0            0              0                0                  0                       0                  0                 1                 0                 0                -0.290064                 -0.737613               -0.169016                0.735782                   -1.68253                            4314902  ['RESTINGA']                                                       37            1573.44            96               3.44           -0.0961222   JANSSEN                      4314902               88013  Porto Alegre  RS          Sul                1492530
  1                 168                 nan          3                    0                1               0                0                    0                1               0                0                    0                0               0                0            0              0                0                  0                       0                  1                 0                 1                 0                 0.246818                  0.242897                0.895916               -1.11874                    -0.909994                           4314902  ['VILA IPIRANGA', 'JARDIM EUROPA', 'VILA JARDIM']                  47            3546.25            98.7             2.685          -0.0116725   JANSSEN                      4314902               88013  Porto Alegre  RS          Sul                1492530
  2                 168                 nan          3                    0                1               0                0                    0                1               0                0                    0                0               0                0            0              0                0                  0                       0                  1                 1                 0                 0                 0.407883                  0.107136                0.343729               -0.750293                   -2.09768                            4314902  "['JARDIM DO SALSO', 'JARDIM CARVALHO', 'BOM JES...                50            3273.1             97.3             2.835          -0.141504    JANSSEN                      4314902               88013  Porto Alegre  RS          Sul                1492530
  3                 179                 nan          3                    0                1               0                0                    0                1               0                0                    0                0               0                0            0              0                0                  0                       0                  1                 1                 0                 0                -0.182687                  2.21717                 1.10101                -1.14085                    -0.87775                            4314902  "['BOA VISTA', 'VILA IPIRANGA', 'JARDIM EUROPA',...                39            7518.53            99.22            2.676          -0.00814779  JANSSEN                      4314902               88013  Porto Alegre  RS          Sul                1492530
  4                   2                 nan          2                    1                0               0                0                    0                1               0                0                    0                0               0                0            0              0                0                  0                       0                  1                 0                 0                 0                 0.139442                  0.682544                0.77759                -2.56797                    -1.43265                            4314902  ['CENTRO HISTÃ“RICO', 'PRAIA DE BELAS']                             45            4430.83            98.4             2.095          -0.0688061   ASTRAZENECA                  4314902               88013  Porto Alegre  RS          Sul                1492530

In [ ]:
# df = df.join(df2, how='inner', left_on ='id_municipio_endereco_paciente', right_on='id_municipio')

--------------------------------------------------------
Descriptive statistics

In [ ]:
df.info()

In [ ]:
df.column_names

['diff_dose1_dose2',
 'diff_dose2_dose3',
 'n_doses',
 'dose1_ASTRAZENECA',
 'dose1_JANSSEN',
 'dose1_PFIZER',
 'dose1_SINOVAC',
 'dose2_ASTRAZENECA',
 'dose2_JANSSEN',
 'dose2_PFIZER',
 'dose2_SINOVAC',
 'dose3_ASTRAZENECA',
 'dose3_JANSSEN',
 'dose3_PFIZER',
 'dose3_SINOVAC',
 'age_65_80',
 'age_80_plus',
 'comorbidities',
 'security_forces',
 'health_professionals',
 'sexo_paciente_F',
 'raca_cor_white',
 'raca_cor_black',
 'raca_cor_brown',
 'scaled_idade_paciente',
 'scaled_mean_income_avg',
 'scaled_mean_literacy',
 'scaled_mean_families',
 'scaled_votos_PSL-PT_2018',
 'id_municipio_endereco_paciente',
 'bairros',
 'idade_paciente',
 'mean_income_avg',
 'mean_literacy',
 'mean_families',
 'votos_PSL-PT_2018',
 'dose1',
 'dose3',
 'id_municipio',
 'id_municipio_tse',
 'nome',
 'sigla_uf',
 'nome_regiao',
 'populacao']

In [ ]:
df['nome_regiao'].unique()

['Sul', 'Centro-Oeste', 'Nordeste', 'Norte', 'Sudeste']

In [ ]:
df[['n_doses','diff_dose1_dose2', 'diff_dose2_dose3','idade_paciente',
    'mean_income_avg', 'mean_literacy', 'mean_families', 'votos_PSL-PT_2018']
   ].describe()

,n_doses,diff_dose1_dose2,diff_dose2_dose3,idade_paciente,mean_income_avg,mean_literacy,mean_families,votos_PSL-PT_2018
data_type,int64,float64,float64,int64,float64,float64,float64,float64
count,17926966,14494789,3672308,17926966,15625791,15625791,15625791,15046357
NA,0,3432177,14254658,0,2301175,2301175,2301175,2880609
mean,2.0729894283282513,70.89746984243786,165.55798914470137,42.402747402990556,3057.5352567569576,96.42851768552846,3.140453757974791,0.08780302193811203
std,0.637835,42.574024,41.504625,18.626061,2012.023031,2.535375,0.407113,0.109314
min,1,1.0,1.0,-16,567.34,75.6,1.73,-0.354076
max,4,30445.0,354.0,221,18553.01,99.8,4.72,0.55971

In [ ]:
# Select the desired columns and calculate summary statistics
df_selected = df[['n_doses', 'diff_dose1_dose2', 'diff_dose2_dose3', 'idade_paciente',
                  'mean_income_avg', 'mean_literacy', 'mean_families', 'votos_PSL-PT_2018']].describe()

# Transpose the DataFrame
df_transposed = df_selected.T

# Convert the DataFrame to a LaTeX table
latex_table = df_transposed.to_latex()

# Print the LaTeX table
print(latex_table)

\begin{tabular}{llllllll}
\toprule
{} & data\_type &     count &        NA &                 mean &          std &       min &       max \\
\midrule
n\_doses           &     int64 &  17926966 &         0 &   2.0729894283282513 &     0.637835 &         1 &         4 \\
diff\_dose1\_dose2  &   float64 &  14494789 &   3432177 &    70.89746984243786 &    42.574024 &       1.0 &   30445.0 \\
diff\_dose2\_dose3  &   float64 &   3672308 &  14254658 &   165.55798914470137 &    41.504625 &       1.0 &     354.0 \\
idade\_paciente    &     int64 &  17926966 &         0 &   42.402747402990556 &    18.626061 &       -16 &       221 \\
mean\_income\_avg   &   float64 &  15625791 &   2301175 &    3057.535256756094 &  2012.023031 &    567.34 &  18553.01 \\
mean\_literacy     &   float64 &  15625791 &   2301175 &     96.4285176855247 &     2.535375 &      75.6 &      99.8 \\
mean\_families     &   float64 &  15625791 &   2301175 &   3.1404537579747798 &     0.407113 &      1.73 &      4.72 \\
votos\_PSL-PT\_2018 &   float64 &  15046357 &   2880609 &  0.08780302193811215 &     0.109314 & -0.354076 &   0.55971 \\
\bottomrule
\end{tabular}

<ipython-input-15-cb50a4fa6cfc>:9: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  latex_table = df_transposed.to_latex()

In [ ]:
# # Get a list of the unique regions
# regions = df['nome_regiao'].unique()

# # Loop over the regions and get the described DataFrame for each one
# described_dfs = []
# for region in regions:
#     # Filter the DataFrame to only include the current region
#     region_df = df[df['nome_regiao'] == region]
    
#     # Get the described DataFrame for the current region
#     described_df = region_df[['n_doses','diff_dose1_dose2', 'diff_dose2_dose3','idade_paciente',
#                               'mean_income_avg', 'mean_literacy', 'mean_families', 'votos_PSL-PT_2018']
#                              ].describe()
    
#     # Add the described DataFrame to the list of results
#     described_dfs.append(described_df)

In [ ]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# Create separate dataframes for each region
dfs = []
for region in df['nome_regiao'].unique():
    region_df = df[df['nome_regiao'] == region]
    dfs.append(region_df)

# Compute summary statistics for each dataframe
summary_dfs = []
for region_df in dfs:
    summary_df = region_df[['n_doses','diff_dose1_dose2', 'diff_dose2_dose3','idade_paciente',
                            'mean_income_avg', 'votos_PSL-PT_2018']].describe().round(2)
    summary_df = summary_df.transpose()
    summary_df['region'] = region_df['nome_regiao'].unique()[0]
    summary_dfs.append(summary_df)

# Concatenate all summary dataframes into a single table
summary_table = pd.concat(summary_dfs)

# Reorder columns and reset index
summary_table = summary_table[['region', 'count', 'NA', 'mean', 'std', 'min', 'max']].reset_index()
summary_table = summary_table.round({'mean': 2, 'std': 2, 'min': 2, 'max': 2})

# Rename index column to variable name
summary_table = summary_table.rename(columns={'index': 'variable'})
summary_table['mean'] = summary_table['mean'].apply('{:,.2f}'.format)

# Print summary table
print(summary_table.to_latex())

\begin{tabular}{lllllllll}
\toprule
{} &           variable &        region &    count &       NA &      mean &     std &     min &      max \\
\midrule
0  &            n\_doses &           Sul &  3674829 &        0 &      2.17 &    0.62 &       1 &        4 \\
1  &   diff\_dose1\_dose2 &           Sul &  3170890 &   503939 &     68.70 &   32.37 &    1.00 &   477.00 \\
2  &   diff\_dose2\_dose3 &           Sul &   940181 &  2734648 &    173.28 &   38.53 &    1.00 &   337.00 \\
3  &     idade\_paciente &           Sul &  3674829 &        0 &     43.46 &   18.71 &       0 &      129 \\
4  &    mean\_income\_avg &           Sul &  3218122 &   456707 &  3,660.20 & 1832.25 & 1277.48 & 13229.38 \\
5  &  votos\_PSL-PT\_2018 &           Sul &  3053702 &   621127 &      0.02 &    0.08 &   -0.20 &     0.25 \\
6  &            n\_doses &  Centro-Oeste &  1617560 &        0 &      2.09 &    0.65 &       1 &        4 \\
7  &   diff\_dose1\_dose2 &  Centro-Oeste &  1285143 &   332417 &     67.83 &   33.77 &    1.00 &  8435.00 \\
8  &   diff\_dose2\_dose3 &  Centro-Oeste &   337553 &  1280007 &    158.68 &   40.03 &    1.00 &   354.00 \\
9  &     idade\_paciente &  Centro-Oeste &  1617560 &        0 &     40.97 &   17.78 &       0 &      129 \\
10 &    mean\_income\_avg &  Centro-Oeste &  1094578 &   522982 &  2,905.85 & 1740.44 & 1026.72 & 11329.68 \\
11 &  votos\_PSL-PT\_2018 &  Centro-Oeste &  1223440 &   394120 &      0.08 &    0.05 &   -0.04 &     0.21 \\
12 &            n\_doses &      Nordeste &  2773588 &        0 &      1.94 &    0.63 &       1 &        4 \\
13 &   diff\_dose1\_dose2 &      Nordeste &  2064380 &   709208 &     70.89 &   78.84 &    1.00 & 30445.00 \\
14 &   diff\_dose2\_dose3 &      Nordeste &   365381 &  2408207 &    181.75 &   41.53 &    1.00 &   344.00 \\
15 &     idade\_paciente &      Nordeste &  2773588 &        0 &     42.51 &   18.32 &     -16 &      170 \\
16 &    mean\_income\_avg &      Nordeste &  2354895 &   418693 &  2,534.85 & 1962.08 &  567.34 &  9481.84 \\
17 &  votos\_PSL-PT\_2018 &      Nordeste &  2003752 &   769836 &     -0.02 &    0.08 &   -0.35 &     0.29 \\
18 &            n\_doses &         Norte &  2337468 &        0 &      1.87 &    0.59 &       1 &        4 \\
19 &   diff\_dose1\_dose2 &         Norte &  1727204 &   610264 &     73.20 &   30.69 &    1.00 &   465.00 \\
20 &   diff\_dose2\_dose3 &         Norte &   223868 &  2113600 &    189.20 &   40.35 &    1.00 &   336.00 \\
21 &     idade\_paciente &         Norte &  2337468 &        0 &     37.71 &   17.14 &       0 &      221 \\
22 &    mean\_income\_avg &         Norte &  1766712 &   570756 &  2,484.75 & 1388.11 &  571.02 & 17281.59 \\
23 &  votos\_PSL-PT\_2018 &         Norte &  1627698 &   709770 &     -0.02 &    0.06 &   -0.21 &     0.50 \\
24 &            n\_doses &       Sudeste &  7523521 &        0 &      2.13 &    0.64 &       1 &        4 \\
25 &   diff\_dose1\_dose2 &       Sudeste &  6247172 &  1276349 &     72.01 &   33.43 &    1.00 &   563.00 \\
26 &   diff\_dose2\_dose3 &       Sudeste &  1805325 &  5718196 &    156.61 &   40.48 &    1.00 &   351.00 \\
27 &     idade\_paciente &       Sudeste &  7523521 &        0 &     43.61 &   19.07 &       0 &      170 \\
28 &    mean\_income\_avg &       Sudeste &  7191484 &   332037 &  3,122.81 & 2181.37 &  766.00 & 18553.01 \\
29 &  votos\_PSL-PT\_2018 &       Sudeste &  7137765 &   385756 &      0.17 &    0.07 &   -0.14 &     0.56 \\
\bottomrule
\end{tabular}

<ipython-input-17-ca90229d49d5>:30: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(summary_table.to_latex())

In [ ]:
# Create separate dataframes for each region
dfs = []
for city in df['nome'].unique():
    city_df = df[df['nome'] == city]
    dfs.append(city_df)

# Compute summary statistics for each dataframe
summary_dfs2 = []
for city_df in dfs:
    summary_df2 = city_df[['n_doses','diff_dose1_dose2', 'diff_dose2_dose3','idade_paciente',
                            'mean_income_avg', 'votos_PSL-PT_2018']].describe().round(2)
    summary_df2['city'] = city_df['nome'].unique()[0]
    summary_dfs2.append(summary_df2)

# Concatenate all summary dataframes into a single table
summary_table2 = pd.concat(summary_dfs2)

# Reorder columns and reset index
# summary_table2 = summary_table2[['count', 'mean']].reset_index()

# Rename index column to variable name
# summary_table2 = summary_table2.rename(columns={'index': 'variable'})
# summary_table2['mean'] = summary_table2['mean'].apply('{:,.2f}'.format)

In [ ]:
# select rows that have 'mean' in the index
mean_rows = summary_table2[summary_table2.index.str.contains('mean')]

# select rows that have 'std' in the index
std_rows = summary_table2[summary_table2.index.str.contains('std')]

# combine the two selections
selected_rows = pd.concat([mean_rows, std_rows])

# Create a new column indicating whether each row represents the mean or standard deviation
selected_rows['mean_or_std'] = np.where(selected_rows.index.str.contains('mean'), 'mean', 'std')

# Sort the dataframe by the city column and then by the mean_or_std column
selected_rows = selected_rows.sort_values(by=['city', 'mean_or_std'])

# Drop the mean_or_std column if it's not needed anymore
selected_rows = selected_rows.drop(columns=['mean_or_std'])

# Convert Numpy arrays to Pandas dataframes
selected_rows = pd.DataFrame(selected_rows)

# # Round every value in the dataframe to 2 decimal places
# selected_rows[['n_doses',	'diff_dose1_dose2',	'diff_dose2_dose3',	'idade_paciente', 'mean_income_avg',
#                'votos_PSL-PT_2018']] = selected_rows[['n_doses',	'diff_dose1_dose2',	'diff_dose2_dose3',
#                                                       'idade_paciente', 'mean_income_avg','votos_PSL-PT_2018']].apply('{:,.2f}'.format)

selected_rows[['n_doses',	'diff_dose1_dose2',	'diff_dose2_dose3',	'idade_paciente', 'mean_income_avg',
               'votos_PSL-PT_2018']] = selected_rows[['n_doses',	'diff_dose1_dose2',	'diff_dose2_dose3',
                                                      'idade_paciente', 'mean_income_avg','votos_PSL-PT_2018']].astype('float64')

selected_rows = selected_rows.round(2)

In [ ]:
# Define the query
query = """
SELECT 
  m.id_municipio,
  m.id_municipio_tse, 
  m.nome, 
  m.sigla_uf, 
  m.nome_regiao, 
  p.populacao
FROM 
  `basedosdados.br_bd_diretorios_brasil.municipio` AS m
JOIN 
  `basedosdados.br_ibge_populacao.municipio` AS p
ON 
  m.id_municipio = p.id_municipio
JOIN (
  SELECT 
    id_municipio, 
    MAX(ano) AS max_ano 
  FROM 
    `basedosdados.br_ibge_populacao.municipio` 
  GROUP BY 
    id_municipio
) AS max_ano
ON 
  p.id_municipio = max_ano.id_municipio 
  AND p.ano = max_ano.max_ano
"""

# Execute the query and store the results in a dataframe
df3 = client.query(query).to_dataframe()
df3.head(5)

,id_municipio,id_municipio_tse,nome,sigla_uf,nome_regiao,populacao
0,1100015,310,Alta Floresta D'Oeste,RO,Norte,22516
1,1100023,78,Ariquemes,RO,Norte,111148
2,1100031,450,Cabixi,RO,Norte,5067
3,1100049,94,Cacoal,RO,Norte,86416
4,1100056,272,Cerejeiras,RO,Norte,16088

In [ ]:
# Merge the two dataframes on the 'city' column
selected_rows = selected_rows.merge(df3[['nome', 'sigla_uf', 'nome_regiao', 'populacao']], left_on='city', right_on='nome')

# Drop the 'nome' column if it is not needed anymore
selected_rows = selected_rows.drop(columns='nome')

selected_rows

,n_doses,diff_dose1_dose2,diff_dose2_dose3,idade_paciente,mean_income_avg,votos_PSL-PT_2018,city,sigla_uf,nome_regiao,populacao
0,1.84,76.29,178.40,36.71,2250.80,-0.09,Abaetetuba,PA,Norte,160439
1,0.53,27.54,46.99,17.22,1.57,0.00,Abaetetuba,PA,Norte,160439
2,2.25,62.86,151.40,41.35,3307.81,0.11,Campo Grande,RN,Nordeste,9686
3,2.25,62.86,151.40,41.35,3307.81,0.11,Campo Grande,AL,Nordeste,9576
4,2.25,62.86,151.40,41.35,3307.81,0.11,Campo Grande,MS,Centro-Oeste,916001
5,0.67,33.59,34.41,18.18,2181.17,0.05,Campo Grande,RN,Nordeste,9686
6,0.67,33.59,34.41,18.18,2181.17,0.05,Campo Grande,AL,Nordeste,9576
7,0.67,33.59,34.41,18.18,2181.17,0.05,Campo Grande,MS,Centro-Oeste,916001
8,2.12,73.68,174.24,42.72,3125.33,0.02,Caxias do Sul,RS,Sul,523716
9,0.61,29.75,35.61,18.28,764.63,0.01,Caxias do Sul,RS,Sul,523716
10,1.97,72.51,176.50,41.05,3104.58,0.04,CuiabÃ¡,MT,Centro-Oeste,623614
11,0.60,31.89,46.99,17.46,1477.75,0.02,CuiabÃ¡,MT,Centro-Oeste,623614
12,2.19,68.32,167.00,43.01,3823.70,0.06,Curitiba,PR,Sul,1963726
13,0.58,30.65,39.75,18.35,1620.66,0.01,Curitiba,PR,Sul,1963726
14,1.81,75.58,175.24,41.28,1965.18,-0.16,Feira de Santana,BA,Nordeste,624107
15,0.64,37.92,49.25,18.00,661.62,0.05,Feira de Santana,BA,Nordeste,624107
16,1.98,76.93,183.28,41.99,2704.27,0.09,JoÃ£o Pessoa,PB,Nordeste,825796
17,0.60,142.43,38.73,18.23,1993.39,0.04,JoÃ£o Pessoa,PB,Nordeste,825796
18,2.12,70.40,175.52,43.16,3255.08,0.17,Londrina,PR,Sul,580870
19,0.62,31.94,39.25,18.54,2587.76,0.08,Londrina,PR,Sul,580870
20,1.70,71.20,169.10,37.31,3007.46,-0.01,MacapÃ¡,AP,Norte,522357
21,0.62,29.59,46.24,17.03,691.81,0.00,MacapÃ¡,AP,Norte,522357
22,1.93,74.37,192.47,37.84,2485.41,-0.02,Manaus,AM,Norte,2255903
23,0.57,30.86,38.19,17.05,1556.09,0.06,Manaus,AM,Norte,2255903
24,1.86,70.92,183.73,42.23,1618.15,-0.00,Paulista,PB,Nordeste,12411
25,1.86,70.92,183.73,42.23,1618.15,-0.00,Paulista,PE,Nordeste,336919
26,0.61,34.94,40.93,18.02,556.76,0.01,Paulista,PB,Nordeste,12411
27,0.61,34.94,40.93,18.02,556.76,0.01,Paulista,PE,Nordeste,336919
28,2.20,67.02,179.08,44.35,3747.20,-0.05,Porto Alegre,RS,Sul,1492530
29,0.65,35.13,36.55,19.28,1985.33,0.04,Porto Alegre,RS,Sul,1492530
30,1.97,66.54,182.18,43.17,2699.92,-0.02,Recife,PE,Nordeste,1661017
31,0.63,32.13,40.95,18.47,2184.45,0.03,Recife,PE,Nordeste,1661017
32,2.15,72.15,154.81,43.64,3199.06,0.19,Rio de Janeiro,RJ,Sudeste,6775561
33,0.64,32.73,39.17,19.20,2235.37,0.05,Rio de Janeiro,RJ,Sudeste,6775561
34,1.92,77.36,177.16,40.20,2314.77,0.06,RondonÃ³polis,MT,Centro-Oeste,239613
35,0.60,31.78,45.62,17.51,1022.27,0.03,RondonÃ³polis,MT,Centro-Oeste,239613
36,1.74,64.67,181.15,37.88,2016.65,-0.02,SantarÃ©m,PA,Norte,308339
37,0.59,30.76,44.39,17.84,714.98,0.02,SantarÃ©m,PA,Norte,308339
38,2.14,64.82,175.27,43.70,3438.06,0.11,Santo AndrÃ©,PB,Nordeste,2496
39,2.14,64.82,175.27,43.70,3438.06,0.11,Santo AndrÃ©,SP,Sudeste,723889
40,0.65,32.01,38.15,18.72,1466.76,0.09,Santo AndrÃ©,PB,Nordeste,2496
41,0.65,32.01,38.15,18.72,1466.76,0.09,Santo AndrÃ©,SP,Sudeste,723889
42,1.91,79.28,168.18,43.28,1765.57,0.19,SÃ£o GonÃ§alo,RJ,Sudeste,1098357
43,0.65,40.23,53.84,18.46,389.85,0.04,SÃ£o GonÃ§alo,RJ,Sudeste,1098357
44,2.25,69.82,152.37,43.74,4161.10,-0.01,VitÃ³ria,ES,Sudeste,369534
45,0.64,30.97,41.18,18.65,3332.22,0.04,VitÃ³ria,ES,Sudeste,369534
46,1.92,68.92,171.31,40.12,1822.36,0.06,VÃ¡rzea Grande,PI,Nordeste,4382
47,1.92,68.92,171.31,40.12,1822.36,0.06,VÃ¡rzea Grande,MT,Centro-Oeste,290383
48,0.61,36.69,45.68,17.22,436.51,0.03,VÃ¡rzea Grande,PI,Nordeste,4382
49,0.61,36.69,45.68,17.22,436.51,0.03,VÃ¡rzea Grande,MT,Centro-Oeste,290383

In [ ]:
# Print summary table
print(selected_rows.to_latex())

\begin{tabular}{lrrrrrrlllr}
\toprule
{} &  n\_doses &  diff\_dose1\_dose2 &  diff\_dose2\_dose3 &  idade\_paciente &  mean\_income\_avg &  votos\_PSL-PT\_2018 &              city & sigla\_uf &   nome\_regiao &  populacao \\
\midrule
0  &     1.84 &             76.29 &            178.40 &           36.71 &          2250.80 &              -0.09 &        Abaetetuba &       PA &         Norte &     160439 \\
1  &     0.53 &             27.54 &             46.99 &           17.22 &             1.57 &               0.00 &        Abaetetuba &       PA &         Norte &     160439 \\
2  &     2.25 &             62.86 &            151.40 &           41.35 &          3307.81 &               0.11 &      Campo Grande &       RN &      Nordeste &       9686 \\
3  &     2.25 &             62.86 &            151.40 &           41.35 &          3307.81 &               0.11 &      Campo Grande &       AL &      Nordeste &       9576 \\
4  &     2.25 &             62.86 &            151.40 &           41.35 &          3307.81 &               0.11 &      Campo Grande &       MS &  Centro-Oeste &     916001 \\
5  &     0.67 &             33.59 &             34.41 &           18.18 &          2181.17 &               0.05 &      Campo Grande &       RN &      Nordeste &       9686 \\
6  &     0.67 &             33.59 &             34.41 &           18.18 &          2181.17 &               0.05 &      Campo Grande &       AL &      Nordeste &       9576 \\
7  &     0.67 &             33.59 &             34.41 &           18.18 &          2181.17 &               0.05 &      Campo Grande &       MS &  Centro-Oeste &     916001 \\
8  &     2.12 &             73.68 &            174.24 &           42.72 &          3125.33 &               0.02 &     Caxias do Sul &       RS &           Sul &     523716 \\
9  &     0.61 &             29.75 &             35.61 &           18.28 &           764.63 &               0.01 &     Caxias do Sul &       RS &           Sul &     523716 \\
10 &     1.97 &             72.51 &            176.50 &           41.05 &          3104.58 &               0.04 &            CuiabÃ¡ &       MT &  Centro-Oeste &     623614 \\
11 &     0.60 &             31.89 &             46.99 &           17.46 &          1477.75 &               0.02 &            CuiabÃ¡ &       MT &  Centro-Oeste &     623614 \\
12 &     2.19 &             68.32 &            167.00 &           43.01 &          3823.70 &               0.06 &          Curitiba &       PR &           Sul &    1963726 \\
13 &     0.58 &             30.65 &             39.75 &           18.35 &          1620.66 &               0.01 &          Curitiba &       PR &           Sul &    1963726 \\
14 &     1.81 &             75.58 &            175.24 &           41.28 &          1965.18 &              -0.16 &  Feira de Santana &       BA &      Nordeste &     624107 \\
15 &     0.64 &             37.92 &             49.25 &           18.00 &           661.62 &               0.05 &  Feira de Santana &       BA &      Nordeste &     624107 \\
16 &     1.98 &             76.93 &            183.28 &           41.99 &          2704.27 &               0.09 &       JoÃ£o Pessoa &       PB &      Nordeste &     825796 \\
17 &     0.60 &            142.43 &             38.73 &           18.23 &          1993.39 &               0.04 &       JoÃ£o Pessoa &       PB &      Nordeste &     825796 \\
18 &     2.12 &             70.40 &            175.52 &           43.16 &          3255.08 &               0.17 &          Londrina &       PR &           Sul &     580870 \\
19 &     0.62 &             31.94 &             39.25 &           18.54 &          2587.76 &               0.08 &          Londrina &       PR &           Sul &     580870 \\
20 &     1.70 &             71.20 &            169.10 &           37.31 &          3007.46 &              -0.01 &            MacapÃ¡ &       AP &         Norte &     522357 \\
21 &     0.62 &             29.59 &             46.24 &           17.03 &           691.81 &               0.00 &            MacapÃ¡ &       AP &         Norte &     522357 \\
22 &     1.93 &             74.37 &            192.47 &           37.84 &          2485.41 &              -0.02 &            Manaus &       AM &         Norte &    2255903 \\
23 &     0.57 &             30.86 &             38.19 &           17.05 &          1556.09 &               0.06 &            Manaus &       AM &         Norte &    2255903 \\
24 &     1.86 &             70.92 &            183.73 &           42.23 &          1618.15 &              -0.00 &          Paulista &       PB &      Nordeste &      12411 \\
25 &     1.86 &             70.92 &            183.73 &           42.23 &          1618.15 &              -0.00 &          Paulista &       PE &      Nordeste &     336919 \\
26 &     0.61 &             34.94 &             40.93 &           18.02 &           556.76 &               0.01 &          Paulista &       PB &      Nordeste &      12411 \\
27 &     0.61 &             34.94 &             40.93 &           18.02 &           556.76 &               0.01 &          Paulista &       PE &      Nordeste &     336919 \\
28 &     2.20 &             67.02 &            179.08 &           44.35 &          3747.20 &              -0.05 &      Porto Alegre &       RS &           Sul &    1492530 \\
29 &     0.65 &             35.13 &             36.55 &           19.28 &          1985.33 &               0.04 &      Porto Alegre &       RS &           Sul &    1492530 \\
30 &     1.97 &             66.54 &            182.18 &           43.17 &          2699.92 &              -0.02 &            Recife &       PE &      Nordeste &    1661017 \\
31 &     0.63 &             32.13 &             40.95 &           18.47 &          2184.45 &               0.03 &            Recife &       PE &      Nordeste &    1661017 \\
32 &     2.15 &             72.15 &            154.81 &           43.64 &          3199.06 &               0.19 &    Rio de Janeiro &       RJ &       Sudeste &    6775561 \\
33 &     0.64 &             32.73 &             39.17 &           19.20 &          2235.37 &               0.05 &    Rio de Janeiro &       RJ &       Sudeste &    6775561 \\
34 &     1.92 &             77.36 &            177.16 &           40.20 &          2314.77 &               0.06 &      RondonÃ³polis &       MT &  Centro-Oeste &     239613 \\
35 &     0.60 &             31.78 &             45.62 &           17.51 &          1022.27 &               0.03 &      RondonÃ³polis &       MT &  Centro-Oeste &     239613 \\
36 &     1.74 &             64.67 &            181.15 &           37.88 &          2016.65 &              -0.02 &          SantarÃ©m &       PA &         Norte &     308339 \\
37 &     0.59 &             30.76 &             44.39 &           17.84 &           714.98 &               0.02 &          SantarÃ©m &       PA &         Norte &     308339 \\
38 &     2.14 &             64.82 &            175.27 &           43.70 &          3438.06 &               0.11 &       Santo AndrÃ© &       PB &      Nordeste &       2496 \\
39 &     2.14 &             64.82 &            175.27 &           43.70 &          3438.06 &               0.11 &       Santo AndrÃ© &       SP &       Sudeste &     723889 \\
40 &     0.65 &             32.01 &             38.15 &           18.72 &          1466.76 &               0.09 &       Santo AndrÃ© &       PB &      Nordeste &       2496 \\
41 &     0.65 &             32.01 &             38.15 &           18.72 &          1466.76 &               0.09 &       Santo AndrÃ© &       SP &       Sudeste &     723889 \\
42 &     1.91 &             79.28 &            168.18 &           43.28 &          1765.57 &               0.19 &       SÃ£o GonÃ§alo &       RJ &       Sudeste &    1098357 \\
43 &     0.65 &             40.23 &             53.84 &           18.46 &           389.85 &               0.04 &       SÃ£o GonÃ§alo &       RJ &       Sudeste &    1098357 \\
44 &     2.25 &             69.82 &            152.37 &           43.74 &          4161.10 &              -0.01 &           VitÃ³ria &       ES &       Sudeste &     369534 \\
45 &     0.64 &             30.97 &             41.18 &           18.65 &          3332.22 &               0.04 &           VitÃ³ria &       ES &       Sudeste &     369534 \\
46 &     1.92 &             68.92 &            171.31 &           40.12 &          1822.36 &               0.06 &     VÃ¡rzea Grande &       PI &      Nordeste &       4382 \\
47 &     1.92 &             68.92 &            171.31 &           40.12 &          1822.36 &               0.06 &     VÃ¡rzea Grande &       MT &  Centro-Oeste &     290383 \\
48 &     0.61 &             36.69 &             45.68 &           17.22 &           436.51 &               0.03 &     VÃ¡rzea Grande &       PI &      Nordeste &       4382 \\
49 &     0.61 &             36.69 &             45.68 &           17.22 &           436.51 &               0.03 &     VÃ¡rzea Grande &       MT &  Centro-Oeste &     290383 \\
\bottomrule
\end{tabular}

<ipython-input-22-1c9bf59663b5>:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(selected_rows.to_latex())

In [ ]:
selected_rows.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   n_doses            50 non-null     float64
 1   diff_dose1_dose2   50 non-null     float64
 2   diff_dose2_dose3   50 non-null     float64
 3   idade_paciente     50 non-null     float64
 4   mean_income_avg    50 non-null     float64
 5   votos_PSL-PT_2018  50 non-null     float64
 6   city               50 non-null     object
 7   sigla_uf           50 non-null     object
 8   nome_regiao        50 non-null     object
 9   populacao          50 non-null     Int64
dtypes: Int64(1), float64(6), object(3)
memory usage: 4.3+ KB

In [ ]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# Create separate dataframes for each vaccine
dfs = []
for vaccine in df['dose1'].unique():
    vaccine_df = df[df['dose1'] == vaccine]
    dfs.append(vaccine_df)

# Compute summary statistics for each dataframe
summary_dfs = []
for vaccine_df in dfs:
    summary_df = vaccine_df[['n_doses','diff_dose1_dose2', 'diff_dose2_dose3','idade_paciente',
                            'mean_income_avg', 'votos_PSL-PT_2018']].describe().round(2)
    summary_df = summary_df.transpose()
    summary_df['Dose 1'] = vaccine_df['dose1'].unique()[0]
    summary_dfs.append(summary_df)

# Concatenate all summary dataframes into a single table
summary_table = pd.concat(summary_dfs)

# Reorder columns and reset index
summary_table = summary_table[['Dose 1', 'count', 'NA', 'mean', 'std', 'min', 'max']].reset_index()
summary_table = summary_table.round({'mean': 2, 'std': 2, 'min': 2, 'max': 2})

# Rename index column to variable name
summary_table = summary_table.rename(columns={'index': 'variable'})
summary_table['mean'] = summary_table['mean'].apply('{:,.2f}'.format)

In [ ]:
# Print summary table
print(summary_table.to_latex())

\begin{tabular}{lllllllll}
\toprule
{} &           variable &       Dose 1 &    count &       NA &      mean &     std &    min &      max \\
\midrule
0  &            n\_doses &  ASTRAZENECA &  6618744 &        0 &      2.13 &    0.57 &      1 &        4 \\
1  &   diff\_dose1\_dose2 &  ASTRAZENECA &  5910150 &   708594 &     87.31 &   37.72 &   1.00 & 30445.00 \\
2  &   diff\_dose2\_dose3 &  ASTRAZENECA &  1475029 &  5143715 &    142.16 &   30.48 &   1.00 &   345.00 \\
3  &     idade\_paciente &  ASTRAZENECA &  6618744 &        0 &     48.12 &   14.73 &    -16 &      170 \\
4  &    mean\_income\_avg &  ASTRAZENECA &  5799578 &   819166 &  3,099.15 & 2036.72 & 567.34 & 18553.01 \\
5  &  votos\_PSL-PT\_2018 &  ASTRAZENECA &  5572129 &  1046615 &      0.09 &    0.11 &  -0.35 &     0.56 \\
6  &            n\_doses &      JANSSEN &   499404 &        0 &      3.00 &    0.02 &      3 &        4 \\
7  &   diff\_dose1\_dose2 &      JANSSEN &   109826 &   389578 &    170.42 &   17.81 &   1.00 &   477.00 \\
8  &   diff\_dose2\_dose3 &      JANSSEN &      481 &   498923 &     81.04 &   63.60 &   1.00 &   196.00 \\
9  &     idade\_paciente &      JANSSEN &   499404 &        0 &     41.05 &    8.61 &      0 &      121 \\
10 &    mean\_income\_avg &      JANSSEN &   428689 &    70715 &  3,097.48 & 2052.49 & 567.34 & 18553.01 \\
11 &  votos\_PSL-PT\_2018 &      JANSSEN &   421550 &    77854 &      0.08 &    0.11 &  -0.35 &     0.56 \\
12 &            n\_doses &      SINOVAC &  4745484 &        0 &      2.32 &    0.66 &      1 &        4 \\
13 &   diff\_dose1\_dose2 &      SINOVAC &  4223203 &   522281 &     36.08 &   34.17 &   1.00 & 23086.00 \\
14 &   diff\_dose2\_dose3 &      SINOVAC &  1954167 &  2791317 &    188.12 &   35.69 &   1.00 &   354.00 \\
15 &     idade\_paciente &      SINOVAC &  4745484 &        0 &     50.62 &   21.14 &      0 &      129 \\
16 &    mean\_income\_avg &      SINOVAC &  4151934 &   593550 &  3,161.60 & 2091.27 & 567.34 & 18553.01 \\
17 &  votos\_PSL-PT\_2018 &      SINOVAC &  4011901 &   733583 &      0.09 &    0.11 &  -0.35 &     0.56 \\
18 &            n\_doses &       PFIZER &  6063334 &        0 &      1.75 &    0.53 &      1 &        4 \\
19 &   diff\_dose1\_dose2 &       PFIZER &  4251610 &  1811724 &     80.11 &   33.39 &   1.00 & 20228.00 \\
20 &   diff\_dose2\_dose3 &       PFIZER &   242631 &  5820703 &    126.25 &   34.24 &   1.00 &   277.00 \\
21 &     idade\_paciente &       PFIZER &  6063334 &        0 &     29.84 &   13.65 &     -5 &      221 \\
22 &    mean\_income\_avg &       PFIZER &  5245590 &   817744 &  2,925.90 & 1907.60 & 567.34 & 18553.01 \\
23 &  votos\_PSL-PT\_2018 &       PFIZER &  5040777 &  1022557 &      0.09 &    0.11 &  -0.35 &     0.56 \\
\bottomrule
\end{tabular}

<ipython-input-30-83d34eb178f5>:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(summary_table.to_latex())

In [ ]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# Create separate dataframes for each vaccine
dfs = []
for vaccine in df['dose3'].unique():
    vaccine_df = df[df['dose3'] == vaccine]
    dfs.append(vaccine_df)

# Compute summary statistics for each dataframe
summary_dfs = []
for vaccine_df in dfs:
    summary_df = vaccine_df[['n_doses','diff_dose1_dose2', 'diff_dose2_dose3','idade_paciente',
                            'mean_income_avg', 'votos_PSL-PT_2018']].describe().round(2)
    summary_df = summary_df.transpose()
    summary_df['Dose 3'] = vaccine_df['dose3'].unique()[0]
    summary_dfs.append(summary_df)

# Concatenate all summary dataframes into a single table
summary_table = pd.concat(summary_dfs)

# Reorder columns and reset index
summary_table = summary_table[['Dose 3', 'count', 'NA', 'mean', 'std', 'min', 'max']].reset_index()
summary_table = summary_table.round({'mean': 2, 'std': 2, 'min': 2, 'max': 2})

# Rename index column to variable name
summary_table = summary_table.rename(columns={'index': 'variable'})
summary_table['mean'] = summary_table['mean'].apply('{:,.2f}'.format)

# Print summary table
print(summary_table.to_latex())

\begin{tabular}{lllllllll}
\toprule
{} &           variable &       Dose 3 &     count &        NA &      mean &     std &    min &      max \\
\midrule
0  &            n\_doses &  ASTRAZENECA &    214070 &         0 &      3.08 &    0.28 &      3 &        4 \\
1  &   diff\_dose1\_dose2 &  ASTRAZENECA &    199525 &     14545 &     70.34 &   35.25 &   1.00 & 11443.00 \\
2  &   diff\_dose2\_dose3 &  ASTRAZENECA &    187547 &     26523 &    136.25 &   41.32 &   1.00 &   351.00 \\
3  &     idade\_paciente &  ASTRAZENECA &    214070 &         0 &     48.50 &   13.63 &      0 &      123 \\
4  &    mean\_income\_avg &  ASTRAZENECA &    181707 &     32363 &  3,118.86 & 1995.99 & 567.34 & 18553.01 \\
5  &  votos\_PSL-PT\_2018 &  ASTRAZENECA &    191328 &     22742 &      0.13 &    0.09 &  -0.35 &     0.50 \\
6  &            n\_doses &      JANSSEN &     22030 &         0 &      3.01 &    0.11 &      3 &        4 \\
7  &   diff\_dose1\_dose2 &      JANSSEN &     21805 &       225 &     71.34 &   27.25 &   1.00 &   477.00 \\
8  &   diff\_dose2\_dose3 &      JANSSEN &     21746 &       284 &    148.84 &   40.81 &   1.00 &   333.00 \\
9  &     idade\_paciente &      JANSSEN &     22030 &         0 &     44.61 &   11.94 &     13 &      108 \\
10 &    mean\_income\_avg &      JANSSEN &     20513 &      1517 &  3,365.55 & 2264.79 & 766.00 & 18553.01 \\
11 &  votos\_PSL-PT\_2018 &      JANSSEN &     20652 &      1378 &      0.15 &    0.08 &  -0.34 &     0.36 \\
12 &            n\_doses &      SINOVAC &     73071 &         0 &      3.32 &    0.47 &      3 &        4 \\
13 &   diff\_dose1\_dose2 &      SINOVAC &     56769 &     16302 &     35.49 &   27.44 &   1.00 &   402.00 \\
14 &   diff\_dose2\_dose3 &      SINOVAC &     50895 &     22176 &    106.47 &   77.66 &   1.00 &   336.00 \\
15 &     idade\_paciente &      SINOVAC &     73071 &         0 &     55.95 &   21.47 &      1 &      122 \\
16 &    mean\_income\_avg &      SINOVAC &     66443 &      6628 &  3,224.72 & 1896.72 & 567.34 & 18553.01 \\
17 &  votos\_PSL-PT\_2018 &      SINOVAC &     64084 &      8987 &      0.10 &    0.10 &  -0.35 &     0.36 \\
18 &            n\_doses &              &  14190810 &         0 &      1.82 &    0.46 &      1 &        3 \\
19 &   diff\_dose1\_dose2 &              &  10806288 &   3384522 &     76.72 &   42.32 &   1.00 & 30445.00 \\
20 &   diff\_dose2\_dose3 &              &         0 &  14190810 &       nan &     NaN &    inf &     -inf \\
21 &     idade\_paciente &              &  14190810 &         0 &     37.96 &   16.51 &    -16 &      221 \\
22 &    mean\_income\_avg &              &  12281407 &   1909403 &  2,919.46 & 1904.44 & 567.34 & 18553.01 \\
23 &  votos\_PSL-PT\_2018 &              &  11767623 &   2423187 &      0.08 &    0.11 &  -0.35 &     0.56 \\
24 &            n\_doses &       PFIZER &   3426985 &         0 &      3.00 &    0.07 &      3 &        4 \\
25 &   diff\_dose1\_dose2 &       PFIZER &   3410402 &     16583 &     53.06 &   38.61 &   1.00 & 30019.00 \\
26 &   diff\_dose2\_dose3 &       PFIZER &   3412120 &     14865 &    168.16 &   39.39 &   1.00 &   354.00 \\
27 &     idade\_paciente &       PFIZER &   3426985 &         0 &     60.13 &   16.15 &      0 &      170 \\
28 &    mean\_income\_avg &       PFIZER &   3075721 &    351264 &  3,599.57 & 2316.38 & 567.34 & 18553.01 \\
29 &  votos\_PSL-PT\_2018 &       PFIZER &   3002670 &    424315 &      0.10 &    0.10 &  -0.35 &     0.56 \\
\bottomrule
\end{tabular}

<ipython-input-31-eb7a20f18aa7>:30: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(summary_table.to_latex())